build/
spec/

CMakeLists.txt.user

miniSDIF.xcodeproj/xcuserdata/njazz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

miniSDIF.xcodeproj/project.xcworkspace/xcuserdata/njazz.xcuserdatad/UserInterfaceState.xcuserstate

miniSDIF.xcodeproj/project.xcworkspace/xcuserdata/njazz.xcuserdatad/UserInterfaceState.xcuserstate
